.yt{
    width: 300px;
    display: block;
}


.zz{
    width:300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.chnlvid-grid{
    display: flex;
    flex-direction: row;
    
    
}
.chnl-pic{
    background-color: gray;


}
.vi-info{
    background-color: gray;
    
}
.pfl-pic{
    width: 100%;
    border-radius: 35px;
}
.time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
}
.yt-ro{
    margin-bottom: 12px;
    position: relative;
}










